---
const { pageSection } = Astro.props;
---
{
  () => {
    if (pageSection.page_section_layout == 'content') {
      return (
        <div class="advanced_container">
          <div class="container">
            <h2>{pageSection.page_section_title}</h2>
            <p class="large-text">{pageSection.page_section_content}</p>
            {pageSection.page_section_button &&
              <a href={pageSection.page_section_button_link} class="btn btn--white">{ pageSection.page_section_button_text }</a>
            }
          </div>
        </div>
      )
    } else if (pageSection.page_section_layout == 'image') {
      return (
        <div class="image_container">
          <div class="image-wrapper" title={pageSection.page_section_alt} style={`background-image: url(${pageSection.page_section_image})`} />
        </div>
      )
    }
  }
}
<style lang="scss">
  .advanced_container {
    position: relative;
    display: flex;
    height: 100%;
    background-color: $alt-color;
    .container {
      width: 100%;
      padding-bottom: 2.25rem;
      padding-top: 2.25rem;
      h2 {
        color: $light-text;
      }
      p {
        margin-top: 1.5rem;
        color: $light-text;
      }
      .btn {
        margin-top: 1.5rem;
        position: absolute;
      }
    }
  }
  .image_container {
    display: flex;
    height: 100%;
    .image-wrapper {
      background-position: 50%;
      background-size: cover;
      width: 100%;
      min-height: 18rem;
      padding-bottom: 2.25rem;
      padding-top: 2.25rem;
    }
  }
</style>